#login-buttons a,
.accounts-dialog a {
	text-decoration: none
}

#login-buttons .login-link-text {
	color: white;
}

#login-buttons .login-close-text {
	float: right;
	font-size: 12px;
	color: rgba(0,0,0,0.8);
}

#login-buttons #signup-link{
	float: center;
	
}

#login-buttons #forgot-password-link {
	float: center;
}

#landing-box {
	position: absolute;
  	top: 50%;
  	margin-top: -200px;
}

